.leftServerNav {
    position: absolute;
    bottom: 0;
    height: calc(100vh - 90px);
    width: 375px;
    background: rgba(12, 12, 12, 0.26);
    border-right: 2px solid rgba(65, 65, 65, 0.19);
}

.mainContent {
    position: absolute;
    top: 0;
    left: 375px ;
    height: fit-content;
    padding-top: 90px;
    overflow-y: visible;
    width: calc(100vw - 375px);
}

@media screen and (max-width: 1200px) {
    .leftServerNav {
        display: none;
    }
    .mainContent {
        position: absolute;
        left: 0;
        width: 100vw;
    }
}


@media screen and (max-width: 455px) {

}
