body {
    margin: 0;
    padding: 0;
    background: #09050B;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

.bg-container {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.bg-gradient {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 50%;
}

.cls-1 {
    fill: url(#linear-gradient);
    filter: brightness(1.3);
}

.cls-1, .cls-2 {
    stroke-width: 0px;
}

.cls-2 {
    fill: url(#radial-gradient);
}

main {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-x: hidden;
}

* {
    -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 916px) {
    .bg-gradient {
        width: 150%;
        height: 40%;
    }
}