.form {
    background: rgba(16, 16, 16, 0.58);
    width: 70%;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgba(33, 33, 33, 0.8);
    transition: all 0.5s cubic-bezier(0.87, 0, 0.13, 1);;
    position: relative;
    z-index: 20;
    overflow: visible;
    .header {
        color: white;
        margin:  0 0 20px 0;
        font-weight: 300;
    }
    .toggleContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        .text {
            color: white;
            position: relative;
            height: 18px;
            width: 120px;
            margin: 0;
            overflow: hidden;
            .enabledText {
                margin: 0;
                position: absolute;
                transform: translateY(35px);
                transition: all 0.5s cubic-bezier(0.87, 0, 0.13, 1);;
            }
            .disabledText {
                margin: 0;
                position: absolute;
                transform: translateY(0%);
                transition: all 0.5s cubic-bezier(0.87, 0, 0.13, 1);
            }
        }
        .text.enabled {
            .enabledText {
                transform: translateY(0%);
            }
            .disabledText {
                transform: translateY(-35px);
            }
        }

    }
    .formContainer {
        box-sizing: border-box;
        overflow: visible;
        transform-origin: top center;
        height: 0;
        transition: all 0.5s cubic-bezier(0.87, 0, 0.13, 1);;
        position: relative;
        .formItems {
            transform-origin: top center;
            transform: scaleY(0);
            transition: all 0.5s cubic-bezier(0.87, 0, 0.13, 1);;
            padding: 10px 0;
            position: relative;
        }
    }
    .formContainer.formActive {
        transform: scaleY(1);
        height: 220px;
        .formItems {
            transform: scaleY(100%);
        }
    }
}

@media screen and (max-width: 660px) {
    .form {
        width: 92%;
    }
}