.noServer {
    font-weight: 300;
    color: white;
    opacity: 0.9;
    text-align: center;
    font-size: 15px;
    margin: 30px 0;
}

.serverSideBar {
    width: 100%;
    height: fit-content;
    margin-bottom: 30px;
    box-sizing: border-box;
}